**/.vscode
**/.sonarlint
**/.terraform/*
*.tfstate
*.tfstate.*
*.terraform.lock.hcl
**/terraform.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
super-linter.log
inventory-*.yml
deployer-*.yml
hosts-*.yml
